#views-exposed-form-documents-page-page-1 .js-form-type-checkbox {
    background: #303c25;
    padding-top:5px;
    padding-bottom:5px;
    font-size: 1.3em;
    color: #81b638;
    text-align: center;
    font-weight: 100;
    border-radius:5px;
}

#views-exposed-form-documents-page-page-1 .form-check .form-check-input {
    margin-left: 0em;
    background-color: #0000;
    border: 0;
}
#views-exposed-form-documents-page-page-1 .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

div.bef-checkboxes label,
div.bef-checkboxes div.js-form-item {
    cursor: pointer;
}

.field--label-inline .field__label {
    display: inline-block;
    color: #617481;
}

legend {
    font-size: inherit; 
}